<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Administracion - Géneros')"></head>

<body>

<nav class="navbar navbar-light" th:replace="fragments/header-nav"></nav>
<div class="container-fluid" th:replace="fragments/slide-show('admin')"></div>

<div class="container my-3">
    <div class="row">
        <div class="col-9 px-0 pr-3">
            <div class="containe bg-white">
                <!-- Content Container -->
                <div class="row p-4 movie-details">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <h3>Géneros</h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="/admin/movie/" class="btn btn-primary active" role="button" aria-pressed="true">Crear</a>
                            </div>
                        </div>

                        <hr/>
                        <div class="col-12 p-0">
                            <table class="table" th:replace="admin/table-list(${genres}, '/admin/genre/')"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 bg-white right-pane" th:replace="fragments/right-panel('admin')"></div>
    </div>
</div>

<footer class="container-fluid py-4" th:replace="fragments/footer"></footer>

</body>
</html>