body {
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #333333;
}

body div.bg-nav-container {
    background-color: #ff5252;
}

body div.bg-nav-container a.nav-link {
    color: #FFFFFF;
}

body div.bg-nav-container a.nav-link:hover {
    text-decoration: underline;
}

.movies-home-list h6, h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.movies-home-list h6 a {
    color: #333333;
}

.movies-home-list h6 a:hover {
    color: #ff5252;
}

.movies-home-list div.movie-trailer a i {
    font-size: 30px;
}

.movies-home-list div.movie-trailer a:hover {
    color: #ff5252;
}

i.fa-star {
    color: #ff5252;
}

footer {
    color: #FFFFFF;
    background-color: #111111;
}

footer h5 {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

footer h5:after {
    content: '';
    border: 2px solid #ff4444;
    width: 30px;
    position: absolute;
    bottom: -12px;
    left: 0;
}

footer h5:before {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.28);
    width: 90px;
    position: absolute;
    bottom: -11px;
    left: 0;
}

footer ul.cinema-footer-list li i {
    color: #ff4444;
    font-size: 10px;
    position: relative;
    top: -1px;
}

footer ul.cinema-footer-list li a {
    color: #E9E7EE;
}

footer ul.cinema-footer-list li a:hover, div.movie-detail-cinema-list a:hover, div.cinema-right-pane-list a:hover {
    color: #ff5252;
}

div.right-pane h5 {
    position: relative;
    font-weight: bold;
}

div.right-pane h5:after {
    content: '';
    border: 2px solid #ff4444;
    width: 30px;
    position: absolute;
    bottom: 4px;
    left: 0;
}

div.right-pane h5:before {
    content: '';
    border: 1px solid #333333;
    width: 90px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

div.movie-details p {
    padding: 0;
    margin-bottom: 5px;
}